<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="main-content">
        <button [routerLink]="['/categories/create-category']" type="button" class="btn btn-primary mb-3">Create new Category</button>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="bg-primary text-white">
              <tr>
                <th>Category</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of categoryList">
                <td>{{ item?.name }}</td>
                <td class="text-right">
                  <a [routerLink]="['/categories/edit-category/', item.id]" [queryParams]="{ categoryId: item.id}">
                    <i class="fa fa-pencil-square-o pe-2 pointer" aria-hidden="true" style="font-size:24px"></i>
                  </a>
                  <i class="fa fa-ban text-danger pointer" style="font-size:24px" (click)="deleteCategory(item)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="deletecategoryModal" class="delete-modal">
  <div class="delete-modal-header">
   <h3 class="delete-modal-header-title" >Delete task</h3>
  </div>
  <div class="delete-modal-content">
    <h4>  Are you sure you want to proceed with the deletion of <b> {{clickedcategoryData.title}}</b>?</h4> 
  </div>
  <div class="delete-modal-footer">
      <button type="button" class="delete-button bg-danger" (click)="deletecategoryFromTable(clickedcategoryData.id)">Delete</button>
      <button type="button" class="create-new-button" (click)="closeDeletecategoryModal()">Cancel</button>
  </div>
</div>
