body {
  background-image: url('../../../../../assets/mainbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.main-content {
  padding: 20px;
}

.create-new-button {
  margin-bottom: 20px;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Align cards evenly */
}

.movie-card {
  width: calc(50% - 20px);
  max-width: 400px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 20px;
}

.movie-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.movie-card h3 a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the text color */
}

.movie-card p {
  margin: 0;
  font-size: 14px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .movie-card {
    width: calc(100% - 20px); /* Single card per row */
  }
}

